// Import page-specific CSS files here.
@import "home";

.container {
  li {
    display: inline;
  }
}

.button-center {
  text-align: center;
}

.travel-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .travel-card {
    a {
      color: black;
    }
  }
}


