// Import page-specific CSS files here.
@import "home";
@import "show";

.container {
  ul {padding: 0;}
  li {
    display: inline;
  }
}

.button-center {
  text-align: center;
}

.travel-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .travel-card {
    background-color: white;
    a {
      color: black;
    }
    a:hover {
      text-decoration: none;
    }
    .card-img {
      img {
      width: 100%;
      height: 25vh;
      }
    }
    .card-info {
      padding:10px;
      #spaceship-name {
        text-align:center;
        padding-top: 5px;
        margin: 0px;
        font-weight: bold;
        font-style: italic;
      }
      .card-info-flex {
        display:flex;
        justify-content: space-between;
      }
    }
  }
  .travel-card:hover {
      text-decoration: none;
      box-shadow: 0px 0px 10px darkgrey;
    }
}

//F O O T E R

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

//C A R D S

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
