.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #005DFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #005DFF;
  color: white;
  color: #FFFFFF;
  background: #005DFF;
  text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
  color: #FFFFFF;
  background: #005DFF;
}

