.container-display {
  background: #01FFFF;
  background: -moz-linear-gradient(-45deg, #01FFFF 0%, #EA5EDC 72%, #1E004C 100%);
  background: -webkit-linear-gradient(-45deg, #01FFFF 0%, #EA5EDC 72%, #1E004C 100%);
  background: linear-gradient(135deg, #01FFFF 0%, #EA5EDC 72%, #1E004C 100%);
}
.container-display {
  min-height: 150px;
  text-align: center;
}

.container-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

}

.card-top {
  border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-top > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.card-top h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-top p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-top .card-top-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-top-infos .card-top-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
