.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar {
  border-bottom: 1px solid grey;
  img {
    width : 80px
  }
}

.right-navbar {
  a {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 6px;
    color: grey;
  }
  a:hover {
    text-decoration: none;
    color: darkslategrey;
    border: 1.2px solid darkslategrey;
  }
  img {
    margin-left: 5px;
  }
}
